body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0b0c0e;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.header {
  background-color: #111214;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px 6px 12px;
  margin-bottom: 30px;
}

.header img {
  width: 60px;
  padding: 1rem;
  cursor: pointer;
}

.form {
  padding-right: 1rem;
}

.form input {
  background-color: #ffffff;
  color: #222831;
  width: 100px;
  padding: 10px 15px 10px 25px;
  margin: 4px 8px;
  border: none;
  border-radius: 14px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.form input:focus {
  outline: none;
  padding-right: 70px;
}

button {
  background-color: #6bbb48;
  color: #ffffff;
  border: none;
  border-radius: 14px;
  padding: 10px 12px;
  cursor: pointer;
  font-weight: 700;
}

.form button:hover {
  background-color: #6eb144;
}

.form button:disabled {
  background-color: #8de666;
}

.sort {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 20%;
  margin: 30px auto;
  padding: 20px 12px;
  border-radius: 10px;
  background-color: #111214;
}

.sort select {
  margin-left: 10px;
  background-color: #6bbb48;
  color: #ffffff;
  border: none;
  border-radius: 14px;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: 700;
}

.sort h3 {
  margin: 0;
  color: #7ed957;
}

.sort-options button {
  margin: 20px 10px;
  min-width: 80px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 30px;
  justify-content: center;
}

.card {
  position: relative;
  height: 560px;
  border-radius: 10px;
  background-color: #111214;
  box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.15);
}

.card-header {
  width: 100%;
  height: 60%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
}

.card-header img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  padding: 0 16px;
}

.card-info h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #7ed957;
  font-weight: 700;
}

.card-info p {
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-footer {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.article {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111214;
  border-radius: 10px;
  padding: 20px;
}

.article img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.article h2 {
  color: #6bbb48;
}

.load-more {
  margin-top: 20px;
}

.load-more button {
  margin: 0 10px;
}

@media screen and (min-width: 1300px) {
  .cards {
    grid-template-columns: repeat(4, 350px);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 1250px) {
  .cards {
    grid-template-columns: repeat(3, 320px);
  }
  .sort {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 320px);
  }
  .sort {
    width: 80%;
  }
  .article h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 350px);
  }
  .sort {
    width: 80%;
  }
  .form {
    padding-right: 0;
  }
  .form input:focus {
    padding-right: 0;
  }
  .article h2 {
    font-size: 18px;
  }
}
